.services {
  min-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.services .serv-head {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services .serv-head h1 {
  color: #333333;
  font-size: 50px;
  line-height: 46px;
  font-family: "Open Sans";
  font-weight: 600;
}
.services .serv-head h1 span {
  color: #fc8469;
}
.services .serv-head .text4 {
  font-size: 16px;
  line-height: 25px;
  color: #9d9d9d;
  font-family: "Open Sans";
  font-weight: 400;
  margin-top: -20px;
}
.services .wrap {
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.services .wrap .icons {
  height: 450px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services .wrap .icons img {
  margin-top: 20px;
  margin-left: 20px;
}
.services .wrap .icons .serv-block-act {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 104px;
  height: 92px;
  border-radius: 2px;
  filter: drop-shadow(0 0 18px rgba(20, 20, 21, 0.2));
  background-color: #ffffff;
  margin: 15px;
}
.services .wrap .icons .serv-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 104px;
  height: 92px;
  border-radius: 2px;
  filter: drop-shadow(0 0 0.5px rgba(20, 20, 21, 0.14));
  background-color: #fbfbfb;
  margin: 15px;
}
.services .wrap .serv-text {
  max-height: 450px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.services .wrap .serv-text h2 {
  font-size: 30px;
  line-height: 46px;
  color: #404040;
  font-family: "Open Sans";
  font-weight: 400;
  text-align: center;
}
.services .wrap .serv-text p {
  font-size: 16px;
  line-height: 25px;
  color: #797979;
  font-family: "Open Sans";
  font-weight: 400;
}
.services .wrap .serv-text button {
  border-bottom: 1px solid grey;
  border-radius: 30px;
  padding: 15px 65px;
  margin-top: 20px;
  background: #fff;
  outline: none;
  font-size: 16px;
  font-family: "Open Sans";
  filter: drop-shadow(1.91px 10.833px 10px rgba(20, 20, 21, 0.07));
  border: 1px solid rgba(1, 2, 2, 0.07);
}
.services .wrap .serv-text .line {
  width: 50px;
  height: 1px;
  border-bottom: 3px solid #ff5c36;
  margin-top: -20px;
}
.services .wrap .watch {
  height: 450px;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}
